@import '~antd/dist/antd.css';


.ant-layout{
  background: #fff;
}
.top{
  background: #1890ff;
  color: #fff;
}
.top-layout{
  width: 1200px;
  margin: auto;
}
.top-layout p{
  margin: 0;
  line-height: 36px;
}
.top-layout .cart{
  text-align: right;
}
.top-layout .cart a{
  color: #fff;
  line-height: 36px;
  padding: 0 0 0 15px;
}
.top-layout .cart a:first-child{
  border-right: 1px solid #bdbcf2;
  padding-right: 15px;
}
.header{
  background: #fff;
}
.ant-layout-header{
  width: 1200px;
  margin: auto;
  padding: 0;
}
.ant-layout-content{
  width: 1200px;
  margin: auto;
  padding: 0 !important;
}
.banners {
  height: 420px;
  overflow: hidden;
}
.banners img{
  width: 100%;
}

.footer{
  background: #1890ff;
  color: #fff;
  padding-top: 25px;
}
.footer .ant-col{
  padding: 0 15px;
}
.footer h2{
  color: #fff;
}
.footer ul{
  margin: 0;
  padding: 0; 
}
.footer ul li{
  border-bottom: 1px dotted #bdbcf2;
  line-height: 120%;
  margin-bottom: 10px;
  padding: 3px 5px;
  list-style: none;
}
.footer ul li:last-child{
  border-bottom: none;
}
.footer .copyright {
  line-height: 45px;
  text-align: center;
  border-top: 1px dotted #bdbcf2;
}
