@import '~antd/dist/antd.css';

.ant-layout{
  background: #fff;
}
.top{
  background: #1890ff;
  color: #fff;
}
.top-layout{
  width: 1200px;
  margin: auto;
}
.top-layout p{
  margin: 0;
  line-height: 36px;
}
.header{
  background: #fff;
}
.ant-layout-header{
  width: 1200px;
  margin: auto;
  padding: 0;
}
.ant-layout-content{
  min-height: 800px;
  width: 1200px;
  margin: auto;
  padding: 0 !important;
}
.banners {
  height: 420px;
  overflow: hidden;
}
.banners img{
  width: 100%;
}
